body{
    background-image: url('./back.jpg');
    display: flex;
    justify-content: center;
}

.main{
    width: 75%;
    height: 100%;
    border-radius:20px 20px 20px 20px;
    text-align: center;
}

/* Heading Container*/

.container{
    margin:2%;
    padding:2%;
    background-color:#6b5d79;
    width: auto;
    height: auto;
    border-radius:20px 20px 20px 20px;
    box-shadow: 2px 5px 2px;
}

.container h2{
    text-shadow: 10px;
    font-size: 250%;
    font-style: 'Garamond','sans-serif';
}


/* Prediction Container*/

.prediction{
    background-color:white;
    margin: 2%;
    padding: 2%;
    width: auto;
    height: auto;
    border-radius:20px 20px 20px 20px;
    box-shadow: 5px 5px 5px 5px;
}

.prediction h1{
    font-size:180%;
}

/* Form Container*/

form{
    padding: 2%;
    margin: 2%;
    border-radius:20px 20px 20px 20px;
    background-color:#3c435a;
    box-shadow: 5px 5px 5px 5px;
}

.main{
    padding: 2%;
    margin: 2%;
    border-radius:20px 20px 20px 20px;
}

.contain{
    width: auto;
    height: auto;
    padding: 2%;
    border: 2px solid #000000;
    margin: 4%;
    border-radius:20px 20px 20px 20px;
    background-color:#6dbfc2;
    box-shadow: 3px 3px 3px 3px;
}

.contain input{
    border-radius: 10px 10px 10px 10px;
    height: 10%;
    font-size: 20px;
    width: 75%;
}

.contain h3{
    font-size:200%;
}

.contain h4{
    font-size:150%;
}


#fuel {
    width: 30%;
    height: 10%;
    border-radius: 14px;
    font-size: 100%;
    text-align-last: center;
}

#fuel:hover {
    background-color: lightgreen;
}

.button{
    padding:3%;
    margin-top:3%;
}

#sub {
    width: 75%;
    height: 5%;
    text-align: center;
    color:black;
    font-family: cursive;
    border-radius: 14px;
    font-size: 150%;
}

@media only screen and (max-width: 768px){
    body{
        width: auto;
    }
}

